//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors
$text-color: #4f4e4e;

$white: #fff;
$black: #000;

$light-green: #5fc18b;
$green: #43a06d;
$dark-green: #2e734d;

$light-red: #f06c57;
$red: #e25842;
$dark-red: #c34733;


//fonts
$base-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";