.header {
  position: relative;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 28rem;

  &__container {
    max-width: 706px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.3rem;
    height: 27.3rem;
    background-color: $black;
    margin: 6.8rem auto 6.2rem auto;
    border-radius: 50%;
  }

  &__logo-img {
    width: 62%;
  }

  &__title {
    color: $white;
    font-size: 4.9rem;
    line-height: 1.26;
    text-transform: uppercase;
  }
}