.header {
  position: relative;
  min-height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 28rem;

  @include mobile {
    padding-bottom: 26rem;
  }

  &__container {
    max-width: 70.6rem;
    margin: 0 auto;
    padding: 0 0.15rem;
    text-align: center;

    @include mobile-large {
      max-width: 100%;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27.3rem;
    height: 27.3rem;
    background-color: $black;
    margin: 6.8rem auto 6.2rem auto;
    border-radius: 50%;

    @include mobile-large {
      margin: 4.8rem auto 4.2rem auto;
    }

    @include mobile {
      margin: 3.8rem auto 3.2rem auto;
    }
  }

  &__logo-img {
    width: 62%;
  }

  &__title {
    color: $white;
    font-size: 4.9rem;
    line-height: 1.26;
    text-transform: uppercase;

    @include mobile-large {
      font-size: 4rem;
    }

    @include mobile {
      font-size: 3rem;
    }
  }
}