.heading {
  position: relative;
  color: $white;
  padding: 8.5rem 0 0 0;
  background-color: $light-green;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-80%);
    width: 505px;
    height: 505px;
    background: url('../images/heading-icon.png') no-repeat center / contain;
  }

  &__container {
    position: relative;
    max-width: 858px;
    z-index: 3;
    padding: 16rem 1.5rem 0 1.5rem;
    margin: 0 auto;
  }

  &__paragraph {
    & + & {
      margin-top: 5rem;
    }
  }

  &__title {
    font-size: 3.9rem;
    margin: 1.2rem 0 2.2rem 0;
    text-align: center;
    font-weight: 500;
  }
}

.icon {
  height: 200px;
  width: 200px;
}