.btn {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  @extend %text-overflow;

  &--default {
    text-transform: uppercase;
    padding: 0.37em 1.4em;
    border-radius: 2px;
  }

  &--small {
    padding: 0.37em 0.75em;
    border-radius: 6px;
  }

  &--white {
    border: 3px solid $white;
    background-color: transparent;
  }

  &--blue {
    background-color: #227dd3;
    transition: background-color .2s linear;

    &:hover {
      background-color: darken(#227dd3, 10%);
    }
  }
}