<header class="header" style="background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0) 100%), url(assets/images/banner.jpg)">
    <div class="header__container">
        <a href="#" class="header__logo">
            <img class="header__logo-img" src="assets/images/logo.png" alt="logo">
        </a>
        <!--/header__logo-->
        <h1 class="header__title">
            <span>Be sure you put your feet</span>
            <strong>in the right place</strong>
        </h1>
        <!--header__title-->
        <form action="/" class="form">
            <div class="form__top">
                <label for="form-input">
                    <input class="form__input" type="text" placeholder="Enter your zip code" id="form-input">
                </label>
            </div>
            <div class="form__gallery">
                <img src="assets/images/form/1.jpg" alt="gallery image 1" class="form__img">
                <img src="assets/images/form/2.jpg" alt="gallery image 2" class="form__img">
                <img src="assets/images/form/3.jpg" alt="gallery image 3" class="form__img">
                <img src="assets/images/form/4.jpg" alt="gallery image 4" class="form__img">
                <img src="assets/images/form/5.jpg" alt="gallery image 5" class="form__img">
                <img src="assets/images/form/6.jpg" alt="gallery image 6" class="form__img">
                <img src="assets/images/form/7.jpg" alt="gallery image 7" class="form__img">
                <img src="assets/images/form/8.jpg" alt="gallery image 8" class="form__img">
                <img src="assets/images/form/9.jpg" alt="gallery image 9" class="form__img">
                <img src="assets/images/form/10.jpg" alt="gallery image 10" class="form__img">
            </div>
            <div class="form__bottom">
                <h5 class="form__title">This is Photoshop's version  of Lorem Ipsum.</h5>
                <button type="submit" class="btn btn--default btn--blue">Press me</button>
            </div>
        </form>
        <!--/header__form-->
    </div>
</header>
