.laptop {
  position: relative;
  margin-top: -5.5rem;
  padding-bottom: 13.5rem;
  background-color: $green;
  overflow: hidden;
  color: $white;

  @include mobile-large {
    padding-bottom: 8rem;
  }

  @include mobile {
    padding-bottom: 5rem;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 28vw;
    background-image: url(../images/shape.svg), linear-gradient(-14deg, $green 50%, $light-green 50%, $light-green 100%);
    background-repeat: no-repeat;
    background-size: 95%, 100%;
    background-position: 105% 24%, center;
  }

  &__container {
    max-width: 128rem;
    margin: 0 auto;
    padding-top: calc(28vw + 2.4rem);
    background-color: $green;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    max-width: 83.4%;

    &::before {
      content: "";
      width: 56rem;
      height: 37.5rem;
      margin-right: 5.5rem;
      flex-shrink: 0;
      background: url("../images/laptop-bg.png") no-repeat 100% 0 / contain;

      @include laptop {
        width: 46rem;
      }

      @include tablet {
        width: 26rem;
        margin-right: 3rem;
      }

      @include mobile-large {
        content: none;
      }
    }

    @include laptop {
      max-width: 94%;
      padding: 0 15px;
    }

    @include tablet {
      max-width: 100%;
    }
    
    @include mobile-large {
      text-align: center;
    }
  }

  &__paragraph {

    @include mobile-large {
      text-align: left;
    }

    & + & {
      margin-top: 5rem;
    }
  }

  &__title {
    font-size: 3.9rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;

    @include mobile-large {
      font-size: 3rem;
    }

    @include mobile {
      font-size: 2.6rem;
    }
  }

  &__btn {
    margin-top: 4rem;
  }
}