.services {
  background-color: $white;
  padding: 5rem 0 11rem 0;

  @include mobile-large {
    padding: 5rem 0 8rem 0;
  }

  @include mobile {
    padding: 5rem 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 86.2rem;
    margin: 0 auto;
    padding: 0 1.5rem;

    @include mobile-large {
      max-width: 100%;
    }
  }

  &__item {
    width: 50%;
    overflow: hidden;

    &:first-child {
      padding-right: 7rem;

      @include tablet {
        padding-right: 3rem;
      }
      @include mobile-large {
        padding-right: 0;
        margin-bottom: 2rem;
      }
    }

    @include mobile-large {
      width: 100%;
    }
  }
}